{
    "extends": "babel",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "env": {
        "jest": true
    },
    "rules": {
        "quotes": [
            "error",
            "single"
        ],
        "indent": [
            "error",
            4
        ],
        "comma-dangle": [
            "error",
            "always"
        ],
        "newline-after-var": "error",
        "semi": [
            "error",
            "never"
        ],
        "eqeqeq": [
            "error",
            "always"
        ]
    }
}
